<!--
Todo 전체 조회 템플릿 만들기
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO 목록앱</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

</head>
<body>
<div class="container">
    <h1>TODO 목록 앱</h1>
    <p>
        <a href=""><i class="bi-plus"></i>Add Todo</a>
        <a href="" class="btn btn-primary" style="float:right">완료한 TODO 목록</a>
    </p>
    <ul class="list-group">
        {% for todo in todos %}
            <li class="list-group-item">
                <a href="">{{ todo.title }}</a>
                {% if todo.important %}
                    <span class="badge bage-danger">!</span>
                {% endif %}
                <div style="float:right">
                    <a href="" class="btn btn-danger">완료</a>
                    <a href="" class="btn btn-outline-primary">수정하기</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>